<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.8.10/themes/smoothness/jquery-ui.css" type="text/css">
    <link rel="stylesheet" href="/nav.css" type="text/css">
    <title><%= userprofile.name %>'s Profile</title>
</head>
<body>
    <% include nav %>
    <div id="main">
            <center><a href="/submissions/<%= userprofile.username %>" target="_blank"><h1 class="display-4" id="name" data-username="<%=userprofile.username%>"><%=userprofile.name %></h1></a></center>
            <br>
        <div class="row">
            <div class="col-1"></div>
                
            <div class="col-2">
                <center>
                <% if(userprofile.codechefhandle != ""){ %>
                <a id="codechefuserlink" href="https://www.codechef.com/users/<%= userprofile.codechefhandle %>" target="_blank" data-username="<%= userprofile.codechefhandle%>"><img src="/images/CODECHEF.png" class="img img-fluid"></a>
                <% }else{ %>
                <a id="codechefuserlink" href="https://www.codechef.com" target="_blank" data-username="<%= userprofile.codechefhandle%>"><img src="/images/CODECHEF.png" class="img img-fluid"></a>
                <% } %>
                <br><br>
                <i class="fa fa-clock-o text-primary" id="codechef-wait" style="font-size:40px;display:none"></i>
                <div style="width:100%" id="codechef-info">
    
                </div>
                </center>
            </div>
            <div class="col-2"></div>
            <div class="col-2">
                <center>
                <% if(userprofile.spojhandle != ""){ %>
                <a id="spojuserlink" href="https://www.spoj.com/users/<%= userprofile.spojhandle %>" target="_blank" data-username="<%= userprofile.spojhandle%>"><img src="/images/SPOJ.png" class="img img-fluid"></a>
                <% }else{ %>
                <a id="spojuserlink" href="https://www.spoj.com" target="_blank" data-username="<%= userprofile.spojhandle%>"><img src="/images/SPOJ.png" class="img img-fluid"></a>
                <% } %>
                <br><br>
                <i class="fa fa-clock-o text-primary" id="spoj-wait" style="font-size:40px;display:none"></i>
                <div style="width:100%" id="spoj-info">
    
                </div>
                </center>
            </div>
            <div class="col-2"></div>
            <div class="col-2">
                <center>
                <% if(userprofile.codeforceshandle != ""){ %>
                <a id="codeforcesuserlink" href="https://www.codeforces.com/profile/<%= userprofile.codeforceshandle %>" target="_blank" data-username="<%= userprofile.codeforceshandle%>"><img src="/images/CODEFORCES.png" class="img img-fluid"></a>
                <% }else{ %>
                <a id="codeforcesuserlink" href="https://www.codeforces.com" target="_blank" data-username="<%= userprofile.codeforceshandle%>"><img src="/images/CODEFORCES.png" class="img img-fluid"></a>
                <% } %>
                <br><br>
                <i class="fa fa-clock-o text-primary" id="codeforces-wait" style="font-size:40px;display:none"></i>
                <div style="width:100%" id="codeforces-info">
    
                </div>
                </center>
            </div>
            <div class="col-1"></div>
        </div>
        <br><br>
        <center>
        <div id="chartContainer" style="height: 400px; width: 600px"></div>
        </center>
        <% if(user){ %>
            <% if(user.username != userprofile.username){ %>
            <% if(user.following.includes(userprofile.username)){ %>
        <div style="bottom:100px;right:24px;position:fixed;padding:15px;background-color:#3FFF14;border-radius:50%;width:60px;cursor:pointer" id="unfollowme">
            <center><i class="fa fa-check" style="font-size:30px;color:white"></i></center>
            </div>

        <div style="bottom:100px;right:24px;position:fixed;padding:15px;background-color:#32E0FF;border-radius:50%;width:60px;cursor:pointer;display:none" id="followme">
            <center><i class="fa fa-bookmark" style="font-size:30px;color:white"></i></center>
            </div>
        
            <% }else{ %>
        <div style="bottom:100px;right:24px;position:fixed;padding:15px;background-color:#32E0FF;border-radius:50%;width:60px;cursor:pointer" id="followme">
            <center><i class="fa fa-bookmark" style="font-size:30px;color:white"></i></center>
            </div>

        <div style="bottom:100px;right:24px;position:fixed;padding:15px;background-color:#3FFF14;border-radius:50%;width:60px;cursor:pointer;display:none" id="unfollowme">
            <center><i class="fa fa-check" style="font-size:30px;color:white"></i></center>
            </div>
        
        <% }}} %>
    </div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="/nav.js"></script>
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script>
    <script src="/profile.js"></script>
    <script src="https://maxcdn.bootstrapdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        var username = document.getElementById("name").getAttribute("data-username");

        $("#followme").on("click",(event)=>{
            event.preventDefault();

            $("#followme").hide();
            $("#unfollowme").show();

                $.ajax({
                global: false,
                type: 'POST',
                url: '/user/' + username,
                dataType: 'html',
                data: {
                    type:1
                },
                success: function (result) {
                    
                },
                error: function (request, status, error) {
                    serviceError();
                }
                });
        });

        $("#unfollowme").on("click",(event)=>{
            event.preventDefault();

            $("#unfollowme").hide();
            $("#followme").show();

                $.ajax({
                global: false,
                type: 'POST',
                url: '/user/' + username,
                dataType: 'html',
                data: {
                    type:2
                },
                success: function (result) {
        
                },
                error: function (request, status, error) {
                    serviceError();
                }
                });
        });


        var ccusername = document.getElementById("codechefuserlink").getAttribute("data-username");
        var susername = document.getElementById("spojuserlink").getAttribute("data-username");
        var cfusername = document.getElementById("codeforcesuserlink").getAttribute("data-username");
        initializeCodechef(ccusername);
        initializeSpoj(susername);
        initializeCodeforces(cfusername);
    </script>
       <script>
        var ccusername = document.getElementById("codechefuserlink").getAttribute("data-username");
        var cfusername = document.getElementById("codeforcesuserlink").getAttribute("data-username");
        var codechefRating = [];
        var codeforcesRating = [];
        window.onload = function () {
        getCodechefRating(function(){
            getCodeforcesRating(function(){
                plotChart();
            });
        });
        
        }

        function getCodechefRating(callback){
            $.getJSON('https://api.allorigins.ml/get?url=' + encodeURIComponent('https://codechef.com/users/') + ccusername, function(data){
                var output = data.contents;
                var fake = output.search(/Could not find page you requested for/i);
                if(fake > 0){
                    callback();
                    return;
                }
                var flag = output.search(/var all_rating = /i);
                var flag2 = output.search(/var current_user_rating =/i);
                var temp1 = output.substring(flag,flag2);
                var temp2 = temp1.search(/\[/i);
                var temp3 = temp1.substring(temp2);
                var ratingInString = temp3.substring(0,temp3.length-4)
                var data = JSON.parse(ratingInString);
                
                data.forEach((ele)=>{
                    var temp1 = new Date(ele.end_date);
                    var date = temp1.getDate();
                    var month = temp1.getMonth();
                    var year = temp1.getFullYear();
                    
                    codechefRating.push({"name":ele.name,"y":parseInt(ele.rating),"x":new Date(year,month,date)});
                });
                callback();
            }).fail(function(){
                callback();
            });
        }
        
        function getCodeforcesRating(callback){
            $.getJSON('https://api.allorigins.ml/get?url=' + encodeURIComponent('https://codeforces.com/api/user.rating?handle=') + cfusername, function(data){
                var output = JSON.parse(data.contents);
                if(output.status=="FAILED"){
                    callback();
                return;
                }
                output.result.forEach((ele)=>{
                    var temp1 = new Date(ele.ratingUpdateTimeSeconds * 1000);
                    
                    var date = temp1.getDate();
                    var month = temp1.getMonth();
                    var year = temp1.getFullYear();
                    
                    codeforcesRating.push({"name":ele.contestName,"y":ele.newRating,"x":new Date(year,month,date)});
                });
                
                callback();
            }).fail(function(){
                callback();
            });
        }

        function plotChart(){

            var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title:{
                text: "Contest Ratings"
            },
            axisX: {
                valueFormatString: "DD MM,YYYY"
            },
            axisY: {
                title: "Rating",
                includeZero: false
            },
            legend:{
                cursor: "pointer",
                fontSize: 16,
                itemclick: toggleDataSeries
            },
            toolTip:{
                shared: true
            },
            data: [{
                name: "Codechef",
                type: "spline",
                showInLegend: true,
                dataPoints: codechefRating
            },
            {
                name: "Codeforces",
                type: "spline",
                showInLegend: true,
                dataPoints: codeforcesRating
            }]
        });
        chart.render();
        
        function toggleDataSeries(e){
            if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            }
            else{
                e.dataSeries.visible = true;
            }
            chart.render();
        }            

        }
        </script>
</body>
</html>